.homeWrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(187deg, rgb(55, 48, 163) 35%, rgba(35, 14, 112, 1) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
}


.sideImage {
    width: 600px;
    z-index: 20;
}

.bannerText {
    width: 800px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.bannerText .title {
    width: 900px;
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.bannerText p {
    color: #ffffff;

}

.wave {
    position: absolute;
    bottom: -9px;
    z-index: 99;
    transform: rotate(180deg);

}

/* .wave image {
    width: 100vw;
    object-fit: cover;
} */




@media screen and (max-width: 500px) {
    .bannerText p {
        width: 359px;
        font-size: 14px;
    }

    .bannerText {
        width: fit-content;
    }

    .homeWrapper {
        justify-content: center;
        flex-direction: row;
    }




    .bannerText .title {
        width: 292px;
        font-size: 24px;
    }
}

@media screen and (min-width: 500px) and (max-width: 642px) {
    .bannerText p {
        width: 472px;
        font-size: 14px;
    }

    .bannerText {
        width: fit-content;
    }

    .homeWrapper {
        justify-content: center;
        flex-direction: row;
    }

    .bannerText .title {
        width: 396px;
        font-size: 34px;
    }
}


@media screen and (min-width: 642px) and (max-width: 1100px) {
    .bannerText p {
        width: 600px;
    }

    .bannerText {
        width: 600px;
    }

    .homeWrapper {
        justify-content: center;
        flex-direction: row;
    }



    .bannerText .title {
        width: 600px;
        font-size: 50px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1255px) {



    .bannerText .title {
        width: 600px;
        font-size: 50px;
    }
}

@media screen and (min-width: 1255px) and (max-width: 1420px) {
 




    .bannerText .title {
        width: 600px;
        font-size: 50px;
    }

}

@media screen and (min-width: 1420px) and (max-width: 1550px) {


    .bannerText .title {
        width: 709px;

        font-size: 61px;

    }
}

@media screen and (min-width: 1921px) {}